<!DOCTYPE html>
<html>

	<%- include('partials/head') %>

  <body id="index-pg">
    <h1>Welcome to <%= title.toLowerCase() %>!</h1>
    <p>Click the <a href="/todo">here</a> to get started!</p>
  </body>
</html>
