<!DOCTYPE html>
<html>

	<%- include('partials/head') %>

  <body id="index-pg">
		<form id="form_login" action="/login" method="POST" style="max-width: 40%;">
			<h2 class="form-title">Login</h2>

			<div class="form-body">

				<% if (error) { %>
					<% for (err of errorMsg) { %>
						<div class="error-message">
							<%= err %>
						</div>
					<% } %>
				<% } %>

				<div class="input-group">
					<label for="usuario_login">Usuario o email</label>
					<input type="text" id="usuario_login" name="usuario_login">
				</div>
				<div class="input-group">
					<label for="usuario_pass">Password</label>
					<input type="password" id="usuario_pass" name="usuario_pass">
				</div>
			</div>
			
			<div class="form-footer" style="flex-direction: column; align-items: center;">
				<div class="btn-group">
					<a href="/register" class="footer-btn">Register</a>
					<input class="footer-btn" type="submit" value="Login">
				</div>
				<a href="/login/google" class="footer-btn google-btn"><i class="fa-brands fa-google"></i>Sign in with Google</a>
			</div>
		</form>
  </body>

</html>